/*-- -------------------------- -->
<---         CORE STYLES        -->
<--- -------------------------- -*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

:root {
    --primary: #bb161e;
    --dark: #5e0b0f;
    --light: #EA1C26;
    --secondary: #0d364c;
    --secondaryLight: #f7a5a7;
    --secondaryDark: #760f12;
}

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden !important;
}

p {
	line-height: 1.6em;
}

p, a, li {
	font-family: 'Raleway', sans-serif;
	color: #121212;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.container {
	padding: 0 15px;
	margin: auto;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mobile-wrapper {
	background: #fff;
    border-bottom: 5px solid var(--primary);
    height: 100px;
}

/* hidden desktop elements */

.topper-flex,
#brand,
.call-strip-button,
.background {
	display: none;
}

/* Buttons */
.button-solid {
	background: var(--primary);
	border-radius: 3px;
	border: none;
	color: #fff;
	width: auto;
	height: 50px;
	font-weight: bold;
	margin: 10px 0;
	padding: 0 30px;
	font-size: 0.750em;
	width: auto;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.button-solid:hover {
    color: var(--primary);
    background: #fff;
	border: 1px solid var(--primary);
	cursor: pointer;
}

.button-transparent {
    display: inline-block;
    background: transparent;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    font-size: 0.750em;
    margin: 10px 0;
    padding: 6px 30px;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    border-radius: 3px;
    white-space: nowrap;
    float: left;
    height: 50px;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.button-transparent:hover {
    color: #fff;
    background: var(--primary);
    border: none;
}

.hamburger {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -o-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 2000;
}
.hamburger:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active:hover {
    opacity: 0.7;
    cursor: pointer;
}
.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}
.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
    z-index: 2000;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
         -o-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

/* * Spring */
.hamburger--spring .hamburger-inner {
    top: 2px;
    -webkit-transition: background-color 0s 0.13s linear;
    -o-transition: background-color 0s 0.13s linear;
    transition: background-color 0s 0.13s linear;
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::before {
    top: 10px;
    -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring .hamburger-inner::after {
    top: 20px;
    -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-delay: .22s;
         -o-transition-delay: .22s;
            transition-delay: .22s;
}
.hamburger--spring.is-active .hamburger-inner {
    -webkit-transition-delay: 0.22s;
         -o-transition-delay: 0.22s;
            transition-delay: 0.22s;
    background-color: transparent !important;
}
.hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
            transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
            transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*-- -------------------------- -->
<---         NAVIGATION         -->
<--- -------------------------- -*/


/* Hidden Elements */
.navbar-menu img,
.call-us,
.quote-nav-button {
	display: none;
}

/* Top Mobile Navigation */
.mobile-wrapper {
	height: 70px;
}

.mobile-nav {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
}

.hamburger {
	position: absolute;
	right: 2em;
}

/* Navigation Links */

.mobile-wrapper img {
	height: 40px;
}

.navbar-menu {
    overflow: hidden;
	background: #f5f5f5;
	width: 0;
	position: absolute;
	right: 0;
	height: 100%;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
    z-index: 1000;
    max-width: 1600px;
}

.navbar-menu .clicked {
    overflow: visible;
}

.side-nav {
    overflow: hidden;
	padding: 40px 0;
	position: absolute;
	right: 2em;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-transition-delay: .2s;
	     -o-transition-delay: .2s;
	        transition-delay: .2s;
}

.side-nav ul {
	margin: 0;
	text-align: right;
	list-style: none;
}

.side-nav ul li {
	margin-bottom: 20px;
}

.side-nav a {
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	-webkit-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transition-delay: .2s;
	     -o-transition-delay: .2s;
	        transition-delay: .2s;
	opacity: 0;
    visibility: hidden;
    color: #121212;
}

.active-menu {
	border-right: 4px solid var(--primary);
	color: var(--primary);
}




/* Desktop */
@media screen and (min-width: 1025px) {

    .mobile-wrapper {
        display: none;
    }

    .background {
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: absolute;
        width: 100%;
        margin: auto;
        z-index: 10000;
    }

    .line {
        height: 1px;
        width: 100%;
        position: absolute;
        background: #fff;
        opacity: .09;
        top: 50px;
        z-index: 10000;
    }

    .top-nav-strip {
        margin-left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        position: relative;
    }

    .top-nav-strip span {
        font-family: 'Arimo', sans-serif !important;
        color: #fff;
        font-size: 14px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 15px 30px;
        border-right: 2px solid rgba(255, 255, 255, .09);
    }

    .top-nav-strip span:first-child {
        padding-left: 0;
    }

    .top-nav-strip span:last-child {
        border: none;
    }

    .top-nav-strip span:before {
        content: url('/images/phone.svg');
        margin-right: 15px;
    }

    .social {
        width: 200px;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .social i {
        color: #fff;
    }

    /* Hidden Elements */
	.mobile-wrapper {
		display: none;
	}

	/* Un-Hidden Elements */
	.side-nav a {
		opacity: 1;
		visibility: visible;
	}

	.quote-nav-button {
        display: block;
        color: #f5f3f3;
        background: var(--secondary);
    }
    
    .quote-nav-button:hover {
        opacity: .7;
    }

	.container {
		max-width: 1100px;
	}

	.navbar-menu img {
		display: block;
		margin: 0 !important;
		position: absolute;
		left: 2em;
        height: auto;
        width: 200px;
	}

	/*navbar */
	nav {
		width: 100%;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
        height: 130px;
        top: 0px;
	}

	.navbar-menu {
		width: 1100px;
		min-height: 100px;
		height: 130px;
		margin: auto;
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		z-index: 100;
		left: 0;
		background: transparent;
		margin-top: 25px;
	}

	#on-top {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}

	.side-nav {
		padding: 0;
		width: 100%;
		height: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		right: 0;
	}

	.side-nav ul li {
		margin: 0 50px 0 0;
		text-align: right;
	}

	.call-us {
		font-size: 0.875em;
		line-height: 24px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-weight: normal;
		margin-left: 40px !important;
	}

	.call-us svg {
		width: 20px;
		margin-right: 10px;
		height: auto;
	}

	.side-nav a {
		padding: 20px 0;
        color: #fff;
        font-weight: bold;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
		font-size: 1em;
	}

	.side-nav ul li a:hover {
		cursor: pointer;
		color: var(--primary);
		opacity: .8;
		-webkit-transition: .2s ease;
		-o-transition: .2s ease;
		transition: .2s ease;
	}

	.side-nav li {
		color: #fff;
	}

	#on-top li  {
		float: right;
	}

	.active-menu {
		border-right: none;
		border-bottom: 4px solid var(--primary);
    }


}