#hero {
    height: 120px;
    background: url("/images/portfolio-mobile-compressor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#dark {
    z-index: 0;
}

.about-box {
    background: #fff;
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
    -webkit-box-shadow: 0 0 40px rgba(0,0,0,.1);
    box-shadow: 0 0 40px rgba(0,0,0,.1);
    
}

.about-box h1 {
    color: #404040;
    position: relative;
    z-index: 10000;
    font-size: 3.75em;
    font-weight: 500;
    padding: 20px 50px;

}


/*-- -------------------------- -->
<---          GALLERY           -->
<--- -------------------------- -*/

#gallery {
    margin-top: 100px
}

.gallery {
    height: auto;
}

.gallery img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px -3px rgba(0,0,0,0.75);
}

.gallery img:hover {
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 2000px;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 20000;
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
} 

.modal img {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: 0 auto !important;
}

.modal i {
    height: auto;
    color: #fff;
    font-size: 1.875em;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2000;
}

.modal i:hover {
    cursor: pointer;
    opacity: .6;
}

/* Modals Visibility */

.modal-one,
.modal-two,
.modal-three,
.modal-four,
.modal-five,
.modal-six,
.modal-seven,
.moadl-eight,
.modal-nine,
.modal-ten,
.modal-eleven,
.modal-twelve,
.modal-thirteen,
.modal-fourteen,
.modal-fifteen,
.modal-sixteen,
.modal-seventeen,
.moadl-eighteen,
.modal-nineteen,
.modal-twenty,
.modal-twenty-one {
    visibility: hidden;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

/* Modal Visibility Clicked */

.modal-one.clicked,
.modal-two.clicked,
.modal-three.clicked,
.modal-four.clicked,
.modal-five.clicked,
.modal-six.clicked,
.modal-seven.clicked,
.modal-eight.clicked,
.modal-nine.clicked,
.modal-ten.clicked,
.modal-eleven.clicked,
.modal-twelve.clicked,
.modal-thirteen.clicked,
.modal-fourteen.clicked,
.modal-fifteen.clicked,
.modal-sixteen.clicked,
.modal-seventeen.clicked,
.modal-eighteen.clicked,
.modal-nineteen.clicked,
.modal-twenty.clicked,
.modal-twenty-one.clicked {
    visibility: visible;
    margin: auto;
    z-index: 2000;
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
}

/* Clicked Images */

html.clicked {
    overflow-y: hidden;
}

/* Tablets */
@media screen and (min-width: 500px) and (max-width: 1024px) {

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
        margin-top: 100px;
    }

    .gallery img {
        width: 50%;
        padding: 20px;
    }

    .modal img {
        width: 100%;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {

    #hero {
        height: 500px;
        background: url("/images/image-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: bottom;
    }

    .about-box {
        width: 700px;
        height: 200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-transform: translateY(250px);
            -ms-transform: translateY(250px);
                transform: translateY(250px);
    }

    .about-box h1 {
        font-size: 3.75em;
        text-align: center;
    }

    /*-- -------------------------- -->
    <---          GALLERY           -->
    <--- -------------------------- -*/

    #gallery {
        margin-top: 190px;
    }

    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 10px;
        max-width: 1100px;
        margin: 100px auto;
    }

    .gallery img {
        width: 300px;
        margin: 15px;
    }

    .modal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .modal img {
        display: block;
        height: 600px;
        width: auto;
        height: auto;
        margin: auto !important;
    }

}